
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
   xmlns:th="http://www.thymeleaf.org">
   
<head>

<meta charset="utf-8"/>
<title>Home</title>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">



</head>

<body>
        
        
<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">CricFunzz</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
      
        <a class="nav-link" href="calendar">Match Calendar</a>
      </li>
      
					<li class="nav-item" sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
				
      <li class="nav-item">
        
          <a class="nav-link" href="livescores">Live Scores</a>
          
          <a class="nav-link" href="recentmatches">Player Stats</a>
         
          <a class="nav-link" href="news">Sports News</a>
          <a class="nav-link" href="#">Contact us</a>
          
          
        
      </li>
    
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="container">
<div class="jumbotron">
  <h1 class="display-4">Hello, People!</h1>
  <p class="lead">This is the Official Site of CricFunzz</p>
  <hr class="my-4">
  <p>Here,You Can see the Upcoming Cricket Matches,Live score Updation,and Interestig facts about cricket.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
<!-- 
<table>
        <thead>
         <tr>
           <th>Dates</th>
           <th>Teams</th>
        </tr>
        </thead>
        <tbody>
        
          <tr th:each="score : ${scores}">
             <td th:text="${score.date}">Id</td>
             <td th:text="${score.name}">Name</td>
          </tr>
        </tbody>
        
    </table>
    
    
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Dates</th>
      <th scope="col">Teams</th>
  
    </tr>
  </thead>
  <tbody>
    <tr th:each="score : ${scores}">
             <td th:text="${score.date}">Id</td>
             <td th:text="${score.name}">Name</td>
    </tr>
  
  </tbody>
</table>
    
    </div>
   --> 
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
   
 </body>
</html>
















